body{
    display: flex;
    height: 100vh;
    margin: 0;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f2937;
    font-family: Roboto, sans-serif;
}

.logo img{
    width: 100px;
    height: auto;
}

.about img{
    width: 200px;
    height: auto;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 5px;
    border-color: black;
}

a{  
    padding: 5px;
    margin: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}

.logo{
    margin-right: auto;
}

.footer{
    margin-top: auto;
    align-self: center;
    display: flex;
    background-color: #42434b;
    padding-right: 100%;
    padding-left: 100%;
}

.content{
    margin-left: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p{
    word-wrap: break-word;
    max-width: 500px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.about{
    display: flex;
    gap: 50px;
}